@import url(fonts.css);
body,html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
h2{
    font-weight: 400;
    font-size: 44px;
    color:#252525;
}
h3{
    font-weight: 400;
    font-size: 1.5em;
}
i{
    color: #663399;
    font-style: normal;
}
h4{
    font-size: 1.2em;
    font-weight: 400;
}
.page {
    height: 100%;
    position: relative;
}
.box-1,.box-2 {
    position: relative;
    height: 100%;    
}
.box-1{
    background-image: url(../images/fondo.png);
    background-size: auto 100%;
    background-position: center;
}
.box-1 header {
    padding: 15px 0px;
}
.box-1 .logo-box img {
    /*height: 51px;*/
}
.box-1 .main-menu ul li{
	list-style: none;
	font-size: 17px;
}
.box-1 .main-menu ul>li .btn{
	font-size: 1em;
}
.box-1 .main-menu ul>li.tologin .btn {
    border: solid 1.5px #9d5ab8;
    color: #9d5ab8;
}
.box-1 .main-menu ul>li.tologin .btn:hover{
	color: #fff;
	background-color: #663399;
}
.box-1 .main-menu ul>li>a,.box-1 .main-menu ul>li>button{
	display: block;
	text-decoration: none;
	padding: 8px 30px;
	color: #252525;
}
li.dropdown.language>.dropdown-toggle {
    background-color: transparent;
    color: #353535;
    border: none;
}
li.dropdown.language>.dropdown-toggle:focus{
    color: #9d5ab8;
    border: none;
    box-shadow: none;
}
li.dropdown.language>.dropdown-toggle>.fa-globe {
    margin-right: 5px;
}
li.dropdown.language>.dropdown-toggle>.fa-angle-down {
    margin-left: 8px;
}
li.dropdown.language>.dropdown-toggle::after{
	content: none;
}
.box-1>.banner.container{
	height: 100%;	
}
.box-1>.banner .banner-content {
    margin-right: auto;
    margin-bottom: 80px;
}
.box-1 .banner-content h2 {
    margin-bottom: 20px;
}
.box-1 .banner-content p {
    color: #7b7b7b;
    padding-right: 165px;
    margin-bottom: 20px;
    line-height: 1.8;
}
.box-1 .banner-content .btn{
    font-size: 26px;
    padding: 25px 27.36px;
}
.box-1 .banner-content .btn .x2{
    font-size: 30px;
    font-weight: bold;
}
.box-2 .channels{
    display: flex;
    align-items: center;
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
    height: 35%;
}
.box-2 .features{
    height: 65%;
    display: flex;
    align-items: center;
    background-color: #ebfbfa;    
}
.features .art .art-header img {
    height: 100px;
}
.box-2 .features .art .art-content{
    background-color: #fff;
    padding: 14px 12px 5px 12px;
}
.features .art .art-content p{
    font-size: 14px;
}
.box-2 .features h4{
    color: #0080bc;
    margin-bottom: 45px;
}
.box-2 .channels h4{
    margin-bottom: 30px;
    color: #0080bc;
}
.box-2 .channels .icons{
    width: 100%;
}
.box-2 .channels .icons ul{
    width: 100%;
    width: 100%;
    overflow: auto;
    margin-left: -15px!important;
    margin-right: -15px!important;
    overflow: auto;
}
.box-2 .channels li {
    list-style: none;
    margin: 5px 15px;
}
.box-2 .channels li img {
    width: 60px;
    height: 60px;
}