@import url(fonts.css);
.box{
    overflow: hidden;
}
.to-animate{
    opacity: 0;
    position: relative;
    margin-bottom: -100%;
    transition: all 0.5s ease-out;
}
.to-animate.ta-left{
    margin-bottom: 0;
    margin-left: -100px;
}
.to-animate.ta-right{
    margin-bottom: 0;
    margin-left: 100px;
}
.to-animate.ta-bottom{
    margin-bottom: -100px;
}
.animate{
    opacity: 1;
    position: static;
    margin: 0!important;    
}
.channels h4.animate{
    margin-bottom: 30px!important;
}
.channels li{
    position: relative;
    width: 60px;
    height: 60px;
}
.channels li.animate{
    margin: 5px 15px!important;
}
body,html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.dropdown-menu.block {
    display: none;
}
.btn-primary {
    background-color: #0080bc;
    border-color: #0080bc;
}
h2{
    font-weight: 400;
    font-size: 38px;
    color:#252525;
}
h3{
    font-weight: 400;
    font-size: 1.5em;
}
i{
    color: #9d5ab8;
    font-style: normal;
}
h4{
    font-size: 1.5em;
    font-weight: 400;
}
.page {
    height: 100%;
    position: relative;
}
.container{
    overflow: hidden;
}
.features .container, .modules .container, .customer-opinions .container,.our-clients .container,.our-goals .container,.main-footer .container {
    padding: 0;
}
.box-1{
    position: relative;
    height: 100%;    
}
.box-1{
    padding-top: 100px;
    background-image: url(../images/fondo.png);
    background-size: cover;
    background-position: center;
}
.box-1 header>.col-12{
    position: static;
}
.box-1 header {
    top: 0;
    padding: 15px 0px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: rgba(243, 244, 246, 0.8);  
}
header>.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 15px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.4);
}
header .logo-box img{
    transition: all 0.2s ease-out;
}
.box-1 header.fix{
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.42);
}
header.fix .logo-box img {
    height: 40px;
}
.box-1 .logo-box img {
    transition: all 0.5s ease-out;
    /*height: 51px;*/
}
.box-1 .main-menu ul li{
	list-style: none;
	font-size: 17px;
}
.box-1 .main-menu ul>li .btn{
	font-size: 1em;
}
.box-1 .main-menu ul>li.tologin .btn {
    border: solid 1.5px #9d5ab8;
    color: #9d5ab8;
}
.box-1 .main-menu ul>li.tologin .btn:hover{
	color: #fff;
	background-color: #663399;
}
.box-1 .main-menu ul>li>a,.box-1 .main-menu ul>li>button{
	display: block;
	text-decoration: none;
	padding: 8px 30px;
	color: #252525;
}
.box-1 .main-menu ul li>a>span {
    text-align: center;
    margin-right: 5px;
}
li.dropdown.language>.dropdown-toggle {
    background-color: transparent;
    color: #353535;
    border: none;
}
li.dropdown.language>.dropdown-toggle:focus{
    color: #9d5ab8;
    border: none;
    box-shadow: none;
}
li.dropdown.language>.dropdown-toggle>.fa-globe {
    margin-right: 5px;
}
li.dropdown.language>.dropdown-toggle>.fa-angle-down {
    margin-left: 8px;
}
li.dropdown.language>.dropdown-toggle::after{
	content: none;
}
.box-1>.banner.container{
	height: 100%;	
}
.box-1>.banner .banner-content {
    margin-right: auto;
    margin-bottom: 100px;
}
.box-1 .banner-content h2 {
    margin-bottom: 20px;
}
.box-1 .banner-content p {
    max-width: 590px;
    color: #7b7b7b;
    padding-right: 165px;
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 24px;    
}
.box-1 .banner-content .btn{
    font-size: 26px;
    padding: 25px 27.36px;
    box-shadow: 6px 6px 20px #0000003b;
}
.box-1 .banner-content .btn .x2{
    font-size: 30px;
    font-weight: bold;
}
.channels{
    display: flex;
    align-items: center;
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
    height: 35%;
}
.features{
    height: 65%;
    display: flex;
    align-items: center;
    background-color: #f1f6fd;    
}
.features .art .art-container{
    border-radius: 3px;
    padding: 14px 12px 5px 12px; 
    box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    height: 100%;
}
.features .art .art-header img {
    height: 100px;
}
.features .art .art-content{
    height: 100%;    
    padding: 14px 12px 5px 12px;    
}
.features .art .art-content p{
    font-size: 16px;
}
.features h4{
    color: #0080bc;
    margin-bottom: 45px;
}
.channels h4{
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #0080bc;
}
.channels .icons{
    width: 100%;
}
.channels .icons ul{
    width: 100%;
    width: 100%;
    overflow: auto;
    margin-left: -15px!important;
    margin-right: -15px!important;
    overflow: hidden;
}
.channels li {
    list-style: none;
    margin: 5px 15px;
}
.channels li img {
    width: 60px;
    height: 60px;
}
.features .art .art-content h5 {
    color: #0080bc;
    font-size: 20px;
}
.features .art {
    min-width: 309.98px;
}
.modules h4 {
    color: #0080bc;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 70px;
}
.modules .art .art-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modules .art h5 {
    color: #0080bc;
    font-size: 28px;
    font-weight: normal;
}
.modules .underline {
    width: 100px;
    border-bottom: solid 3px #81b40b;
    margin-top: 8px;
    margin-bottom: 15px;
}
.modules .art {
    margin: 0;
    margin-bottom: 60px;
}
.modules .art .art-image img {
    margin-left: -2.6%;
    width: 120%;
}
.premium-module h4 {
    color: #9d5ab8;
}
.premium-module.modules .art h5 {
    color: #9d5ab8;
}
.customer-opinions {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f6fd;
    border-bottom: solid 1px #dbdbdb;
    border-top: solid 1px #dbdbdb;
}
.customer-opinions h4 {
    font-size: 28px;
    color: #9d5ab8;
    margin-bottom: 40px;
}
.customer-opinions .art {
    text-align: center;
    /*opacity:0.5;*/
    transition: all 0.2s ease-out;
}
.customer-opinions .art:hover,.customer-opinions .art.active{
    opacity:1;
    cursor: pointer;
}
.customer-opinions .art h6 {
    font-size: 20px;
    color: #0080bc;
    margin: 10px 0px 0px;
}
.customer-opinions .art small {
    font-size: 12px;
    color: #9d5ab8;
}
.customer-opinions .art p {
    font-size: 16px;
    color: #777777;
    margin-top: 20px;
}
.our-clients{
    padding-top: 70px;
    padding-bottom: 50px;
}
.our-clients h4 {
    font-size: 28px;
    color: #0080bc;
    margin-bottom: 40px;
}
.our-goals {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f6fd;
    border-bottom: solid 1px #dbdbdb;
    border-top: solid 1px #dbdbdb;
}
.our-goals h4 {
    font-size: 28px;
    color: #9d5ab8;
    margin-bottom: 40px;
}
.our-goals ul li>.title {
    color: #0080bc;
}
.our-goals ul li {
    margin: 15px 0px;
}
.our-goals img{
    width: 100%;
}
.omnigy {
    padding-top: 70px;
    padding-bottom: 70px;
}
.omnigy p {
    font-size: 25px;
    margin-bottom: 0;
}
.omnigy .btn {
    padding: 24.5px 45px;
    font-size: 21px;
    box-shadow: 6px 6px 20px #0000003b;
}
.page>footer {
    background-color: #0080bc;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}
.page>footer .logo img{
    max-width: 100%;
}
.page>footer h6 {
    font-size: 17px;
    font-weight: 300;
}
.page>footer ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.page>footer .siguenos ul{
    margin-left: -10px;
}
.page>footer ul li a {
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
}
a.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 39px;
    width: 48px;
    border: solid 3px transparent;
    border-radius: 5px;
    position: relative;
}
.menu-btn span {
    position: absolute;
    display: block;
    width: 32px;
    border-bottom: solid 5px #000;
    border-radius: 2px;
    transition: all 0.2s ease-out;
}
.menu-btn span:nth-child(1){
    top: 4px;
    left: 5px;
}
.menu-btn span:nth-child(2){
    top: 14px;
    left: 5px;
}
.menu-btn span:nth-child(3){
    top: 24px;
    left: 5px;
}
.menu-btn.active span:nth-child(1) {
    top: 14px;
    transform: rotate(45deg);
}
.menu-btn.active span:nth-child(2) {
    display: none;
}
.menu-btn.active span:nth-child(3) {
    top: 14px;
    transform: rotate(-45deg);
}
@media (max-width: 992px){
    h4{
        font-size: 1.4em;
    }
    .channels{
        height: 100%;
    }
    .features{
        height: auto;
        padding-top: 70px;
        padding-bottom: 20px;
    }
    .features .art{        
        margin-bottom: 50px;
    }
    nav.main-menu {
        opacity: 0;
        position: fixed;
        z-index: 1;
        width: 100%;
        left: -100%;
        top: 0;        
        height: 1100%;
        transition: background-color 0.2s ease-out;
    }
    nav.main-menu.active{
        left: 0;
        opacity: 1;
        background-color: rgba(0,0,0,0.5);
        display: flex!important;
    }
    nav.main-menu ul.active.men{
        left: -100%!important;
    }
    nav.main-menu ul.active.may{
         left: 0!important;
    }
    nav.main-menu ul{
        position: relative;
        left:-100%;
        background-color: #0080bc;
        width: 80%;
        max-width: 400px;
        flex-direction: column!important;
        box-shadow: 4px -1px 16px 0px #0000008f;
    }
    nav.main-menu ul.active{        
        transition: left 0.2s ease-out;
        left: 0;
    }
    .box-1 .main-menu ul li{
        width: 100%;
        text-align: center;
        border-bottom: solid 1px #0172a7;
    }
    .box-1 .main-menu ul li:nth-child(3){
        order:1;
    }
    .box-1 .main-menu ul li:nth-child(3) .btn{
        border-top: solid 1px #0172a7;
        margin-top: 20px;
        text-align: left;
        padding: 15px;
    }
    .box-1 .main-menu ul li:nth-child(1){
        order:2;
        margin-top: 50px;
        border-top: solid 1px #0172a7;
    }
    .box-1 .main-menu ul li:nth-child(2){
        order:3;
    }
    .box-1 .main-menu ul li:nth-child(4){
        order:4;
    }
    .box-1 .main-menu ul li>a>span{
        margin-right: 5px;
    }
    .box-1 .main-menu ul li>a{
        color: #fff;
        text-align: left;
        padding: 15px;
    }
    .box-1 .main-menu ul>li .btn{
        border: none;
        text-align: center;
    }
    .box-1 .main-menu ul>li .btn {
        width: 100%;
        color: #fff;
        text-align: left;
    }
    .box-1 .main-menu ul>li.tologin .btn {
        color: #fff;
        border: none;
    }
    .dropdown-menu.show {
        display: block;
        transform: none!important;
        top: 100%!important;
        left: calc(50% - 80px)!important;
    }
    li.dropdown.language>.dropdown-toggle:focus,.box-1 .main-menu ul>li.tologin .btn:hover {
        color: #fff;
        border: none;
        background-color: #005c88;
        box-shadow: none;
    }
    .box-1 .logo-box img{
        height: 50px;
    }
}
@media (max-width: 768px){
    .box-1>.banner .banner-content {
        margin-bottom: 0;
    }
    .box-1{
        background-image: none;
        background-color: #f3f4f6;
    }
    .box-1>.banner.container{
        text-align: center;
    }
    .box-1 .banner-content p{
        padding: 0;
    }
    .box-1 .banner-content .btn{
        margin-top: 25px;
        font-size: 18px;
    }
    .box-1 .banner-content .btn .x2{
        font-size: 20px;
    }
    .modules .art .art-content{
        order: 2;
    }
    .modules .art .art-image{
        order: 1;
    }
    .modules h4{
        font-size: 20px;
        text-align: center;
        padding: 0px 10px;
    }
    .modules .art h5{
        font-size: 24px;
    }
    .our-clients h4{
        font-size: 20px;
        text-align: center;
    }
    .omnigy .flex-row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .omnigy p{
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }
    .main-footer .container{
        max-width: none;
    }
    .main-footer .container>.col-12{
        padding: 0;
    }
    footer .siguenos {
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: solid 1px rgba(255, 255, 255, 0.5);
        border-top: solid 1px rgba(255, 255, 255, 0.5);
    }
    footer .main-footer .col-6{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    footer .siguenos ul{
        justify-content: center;
    }
    .page>footer h6{
        margin-bottom: 20px;
    }
    footer .privacity-footer small{
        text-align: center;
        margin-top: 30px;
    }
    .customer-opinions .art{
        margin-bottom: 50px;
    }
}
@media (max-width: 576px){
    .our-goals h4{
        text-align: center;
    }
    .channels h4{
        font-size: 21px;
    }
    .box-1 .banner-content .btn{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    .box-1 .banner-content .btn .x2{
        margin-left: 5px;
    }
    header>.btn{
        right: 50%;
        margin-right: -114.35px;
        padding: 12px 15px;
    }
}